@use 'module_index.scss';



  a {
    cursor: pointer;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  
  }
  
 
  
  
  .w-100 {
      width: 100%!important;
      height: 60vh;
  }
  
  .carousel-control-next-icon, .carousel-control-prev-icon{
    width: 60px;
    height: 60px;
    opacity: 1;
  }
  
  button:hover {
    background-color: purple;
  }
  
  #services {
    width: 100%;
    /*height: 50vh;*/
    background-color: #d1d2d7;
    padding-top: 0;
  }
  
  .btn.btn-primary.text-justify {
    border: solid rgb(252, 251, 251) 1px;
    font-size: 23px;
  }
  
  #contact {
    width: 100%;
    height: 102%;
    background-color: #d1d2d7;
  }
  
  
  
  .form-row > .col,
  .form-row > [class*=col-] {
    overflow: hidden;
  }
  

  
  /*WORK ITEM GALLERY STYLES*/
  #carouselExampleIndicators{
    padding-bottom: 2em;
  }
  
  
  #team_row{
    padding: 2em 0 2em 0;
  }
  
  .work_text{
    padding-bottom: 2em;
  }
  
  
  #work_item_container{
    padding-top: 5em;
  }
  