ul {
  list-style: none;
}

h1,a{
  font-family: 'Advent Pro', sans-serif;
 
}



p{
  font-size:20px;
}


#edit_scroll_box {
  margin-top: 30px;
  height: 400px;
  width: 300px;
  border: 1px solid #ccc;
  font: 16px/26px Georgia, Garamond, Serif;
  overflow: auto;
}

#contactForm .h4 {
  font-weight: 400;
  border-bottom: 1px solid silver;
}

.required-input {
  color: maroon;
}

.static-map {
  margin-bottom: 20px;
}

@media (max-width: 768px) and (min-width: 767px) {
  #contactForm .static-map img {
    width: 100%;
  }
}
.btn.btn-primary.btn-block {
  border: solid 1px black;
  color: black;
}

h1, p, h2, h3 {
  font-family: "Advent Pro", sans-serif;
}

.display-3 {
  text-align: center;
}

#bottom-link {
  text-align: center;
}

#back-to-top {
  text-align: center;
  display: block;
  margin-top: 3em;
}


.secondary-headers {
  font-size: 64px;
  padding-bottom: 34px;
}

h6 {
  font-weight: bold;
}

#work-example {
  width: 100%;
  height: 100vh;
}

#hero {
  width: 100%;
  min-height: 800px;
  background: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.5)), url("../../assets/img/pexels-photo-279719.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
}

@media only screen and (max-width: 1020px) and (max-height: 550px) {
  #hero {
    min-height: 630px;
  }
}

.text-box-2{
  padding: 60px;
}

@media only screen and (max-width: 550px){
  .text-box-2{
    padding: 20px;
  }
}

#header-box {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 9em;
}

#savvy {
  color: white;
}

@media only screen and (max-width: 518px) {
  #savvy {
    display: none;
  }
}
.img-fluid-work {
  height: 200px;
  width: 100%;
}

@media only screen and (max-width: 565px) {
  .img-fluid {
    height: 300px;
  }
}
#secondary-hero {
  width: 100%;
  min-height: 525px;
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.2)), url("../../Images/secondary-header-hero.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
}

@media only screen and (max-width: 700px) {
  #secondary-hero {
    background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.2)), url("../../Images/secondary_header_mobile.jpg");
  }

  #header {
    font-size: 70px;
  }
}
#header {
  font-size: 82px;
  color: #eef2f5;
}

.photo-gallery {
  color: #313437;
  background-color: #fff;
  padding-top: 32px;
}

.photo-gallery p {
  color: #7d8285;
}

.photo-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width: 767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}
.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom: 0;
}

.photo-gallery .photos {
  padding-bottom: 20px;
}

.photo-gallery .item {
  padding-bottom: 30px;
}

.navigation-clean {
  background: #fff;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
  font-size: 30px;
}

@media (min-width: 768px) {
  .navigation-clean {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.navigation-clean .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean .navbar-brand:hover {
  color: #222;
}

.navigation-clean.navbar-dark .navbar-brand:hover {
  color: #f0f0f0;
}

.navigation-clean .navbar-brand img {
  height: 100%;
  display: inline-block;
  margin-right: 10px;
  width: auto;
}

.navigation-clean .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean .navbar-toggler:hover, .navigation-clean .navbar-toggler:focus {
  background: none;
}

.navigation-clean.navbar-dark .navbar-toggler {
  border-color: #555;
}

.navigation-clean .navbar-toggler {
  color: #888;
}

.navigation-clean.navbar-dark .navbar-toggler {
  color: #eee;
}

.navigation-clean .navbar-collapse, .navigation-clean .form-inline {
  border-top-color: #ddd;
}

.navigation-clean.navbar-dark .navbar-collapse, .navigation-clean.navbar-dark .form-inline {
  border-top-color: #333;
}

.navigation-clean .navbar-nav > .active > a, .navigation-clean .navbar-nav > .show > a {
  background: none;
  box-shadow: none;
}

.navigation-clean.navbar-light .navbar-nav .nav-link.active, .navigation-clean.navbar-light .navbar-nav .nav-link.active:focus, .navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean.navbar-light .navbar-nav .nav-link {
  color: #465765;
}

.navigation-clean.navbar-light .navbar-nav .nav-link:focus, .navigation-clean.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: none;
  background-color: #fff;
  border-radius: 2px;
}

@media (min-width: 768px) {
  .navigation-clean .navbar-nav .show .dropdown-menu {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 767px) {
  .navigation-clean .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #37434d;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    line-height: 1;
  }
}
.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #37434d;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit;
}

.navigation-clean.navbar-dark {
  background-color: #1f2021;
  color: #fff;
}

.navigation-clean.navbar-dark .navbar-nav a.active, .navigation-clean.navbar-dark .navbar-nav a.active:focus, .navigation-clean.navbar-dark .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean.navbar-dark .navbar-nav .nav-link {
  color: #dfe8ee;
}

.navigation-clean.navbar-dark .navbar-nav .nav-link:focus, .navigation-clean.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: transparent;
}

.navigation-clean.navbar-dark .navbar-nav > li > .dropdown-menu {
  background-color: #1f2021;
}

.navigation-clean.navbar-dark .dropdown-menu .dropdown-item:focus, .navigation-clean.navbar-dark .dropdown-menu .dropdown-item {
  color: #f2f5f8;
}

.navigation-clean.navbar-dark .dropdown-menu .dropdown-item:focus, .navigation-clean.navbar-dark .dropdown-menu .dropdown-item:hover {
  background: #363739;
}

@media (max-width: 767px) {
  .navigation-clean.navbar-dark .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fff;
  }
}
.navbar-light .navbar-brand {
  position: relative;
  top: 8px;
}

#carousal {
  padding: 0px;
  padding-top: 0px;
}

.nav-link:hover {
  color: #8e51f0;
  font-family: "Advent Pro", sans-serif;
  background: #ffa5004a;
  font-weight: bold;
}

.navigation-clean {
  background: #fff;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
  font-size: 30px;
}

@media (min-width: 768px) {
  .navigation-clean {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.navigation-clean .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean .navbar-brand:hover {
  color: #222;
}

.navigation-clean.navbar-dark .navbar-brand:hover {
  color: #f0f0f0;
}

.navigation-clean .navbar-brand img {
  height: 100%;
  display: inline-block;
  margin-right: 10px;
  width: auto;
}

.navigation-clean .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean .navbar-toggler:hover, .navigation-clean .navbar-toggler:focus {
  background: none;
}

.navigation-clean.navbar-dark .navbar-toggler {
  border-color: #555;
}

.navigation-clean .navbar-toggler {
  color: #888;
}

.navigation-clean.navbar-dark .navbar-toggler {
  color: #eee;
}

.navigation-clean .navbar-collapse, .navigation-clean .form-inline {
  border-top-color: #ddd;
}

.navigation-clean.navbar-dark .navbar-collapse, .navigation-clean.navbar-dark .form-inline {
  border-top-color: #333;
}

.navigation-clean .navbar-nav > .active > a, .navigation-clean .navbar-nav > .show > a {
  background: none;
  box-shadow: none;
}

.navigation-clean.navbar-light .navbar-nav .nav-link.active, .navigation-clean.navbar-light .navbar-nav .nav-link.active:focus, .navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean.navbar-light .navbar-nav .nav-link {
  color: #465765;
}

.navigation-clean.navbar-light .navbar-nav .nav-link:focus, .navigation-clean.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: none;
  background-color: #fff;
  border-radius: 2px;
}

@media (min-width: 768px) {
  .navigation-clean .navbar-nav .show .dropdown-menu {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 767px) {
  .navigation-clean .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #37434d;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    line-height: 1;
  }
}
.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #37434d;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit;
}

.navigation-clean.navbar-dark {
  background-color: #1f2021;
  color: #fff;
}

.navigation-clean.navbar-dark .navbar-nav a.active, .navigation-clean.navbar-dark .navbar-nav a.active:focus, .navigation-clean.navbar-dark .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean.navbar-dark .navbar-nav .nav-link {
  color: #dfe8ee;
}

.navigation-clean.navbar-dark .navbar-nav .nav-link:focus, .navigation-clean.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: transparent;
}

.navigation-clean.navbar-dark .navbar-nav > li > .dropdown-menu {
  background-color: #1f2021;
}

.navigation-clean.navbar-dark .dropdown-menu .dropdown-item:focus, .navigation-clean.navbar-dark .dropdown-menu .dropdown-item {
  color: #f2f5f8;
}

.navigation-clean.navbar-dark .dropdown-menu .dropdown-item:focus, .navigation-clean.navbar-dark .dropdown-menu .dropdown-item:hover {
  background: #363739;
}

@media (max-width: 767px) {
  .navigation-clean.navbar-dark .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fff;
  }
}
.navbar-light .navbar-brand {
  position: relative;
  top: 8px;
}

.team-grid {
  color: #313437;
  background-color: #fff;
}

.team-grid p {
  color: #7d8285;
}

.team-grid h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width: 767px) {
  .team-grid h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}
.team-grid .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.team-grid .intro p {
  margin-bottom: 0;
}

.team-grid .people {
  padding: 50px 0;
}

.team-grid .item {
  margin-bottom: 30px;
}

.team-grid .item .box {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 280px;
  position: relative;
  overflow: hidden;
}

.team-grid .item .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 148, 255, 0.75);
  transition: opacity 0.15s ease-in;
  opacity: 0;
  padding-top: 80px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.team-grid .item:hover .cover {
  opacity: 1;
}

.team-grid .item .name {
  font-weight: bold;
  margin-bottom: 8px;
}

.team-grid .item .title {
  text-transform: uppercase;
  font-weight: bold;
  color: #bbd8fb;
  letter-spacing: 2px;
  font-size: 13px;
  margin-bottom: 20px;
}

.team-grid .social {
  font-size: 18px;
}

.team-grid .social a {
  color: inherit;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.7;
}

.team-grid .social a:hover {
  opacity: 1;
}

.home-team {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (min-width: 992px) {
  .home-team {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.home-team .card-style2 {
  margin-top: 50px;
}

.home-team .card-style2 .card-block {
  padding: 15px 30px;
}

.home-team .card-style2 span {
  padding-left: 0px;
  font-style: italic;
}

.sectionTitle {
  position: relative;
}

.sectionTitle h2 {
  line-height: 1;
  padding-bottom: 8px;
  color: #222222;
  margin: 0;
}

@media (min-width: 320px) {
  .sectionTitle h2 {
    font-size: 30px;
    letter-spacing: 0px;
  }
}
@media (min-width: 768px) {
  .sectionTitle h2 {
    font-size: 34px;
    letter-spacing: 0px;
  }
}
.sectionTitle p {
  opacity: 0.7;
}

.team-card .card_img {
  overflow: hidden;
  margin: 0 auto;
}

.team-card a.overlay_icon {
  width: 45px;
  height: 45px;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.team-card a.overlay_icon i.fa {
  font-size: 15px;
  line-height: 40px;
  color: #ffffff;
}

.team-card a.overlay_icon:hover {
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.team-card a.overlay_icon:hover i.fa {
  color: #4ac8ed;
}

.card {
  border: 0px;
  border-radius: 0px;
  overflow: hidden;
}

.card .card_img {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.card .card-title {
  margin: 0px;
  padding: 15px 0 10px;
  transition: all 0.3s ease;
}

.card .card-title:hover {
  color: #4ac8ed;
}

.card .card-block {
  padding: 10px 0 0;
}

.img-full {
  width: 100%;
  min-width: 150px;
}

.hover-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 
  
}

.hover-overlay a.overlay_icon {
  width: 55px;
  height: 55px;
  background: #fff;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  margin: 3px;
  text-align: center;
}

.hover-overlay a.overlay_icon i.fa {
  font-size: 20px;
  line-height: 50px;
  color: #848484;
}

.hover-overlay.effect-scale {
  transition: all 0.4s ease;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}

.hover-overlay.effect-scale:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: opacity 0.4s, -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s, -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(10, 35, 59, 0.5);
}

.card:hover .hover-overlay.effect-scale, .card_img:hover .hover-overlay.effect-scale {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.card:hover .hover-overlay.effect-scale:before, .card_img:hover .hover-overlay.effect-scale:before {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: black;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}
.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}
.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}
.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.w-100 {
  width: 100% !important;
  max-height: 420px;
  min-height: 500px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 60px;
  height: 60px;
  opacity: 1;
}

button:hover {
  background-color: purple;
}

#services {
  width: 100%;
  /*height: 50vh;*/
  background-color: #d1d2d7;
  padding-top: 0;
}

.btn.btn-primary.text-justify {
  border: solid #fcfbfb 1px;
  font-size: 23px;
}

#contact {
  width: 100%;
  height: 102%;
  background-color: #d1d2d7;
}

.form-row > .col,
.form-row > [class*=col-] {
  overflow: hidden;
}

/*WORK ITEM GALLERY STYLES*/
#carouselExampleIndicators {
  padding-bottom: 2em;
}

#team_row {
  padding: 2em 0 2em 0;
}

.work_text {
  padding-bottom: 2em;
}

#work_item_container {
  padding-top: 5em;
}

#edit_scroll_box {
  margin-top: 30px;
  height: 400px;
  width: 300px;
  border: 1px solid #ccc;
  font: 16px/26px Georgia, Garamond, Serif;
  overflow: auto;
}

.testimonials-clean {
  color: #313437;
  background-color: #e3e4e7
}

.testimonials-clean p {
  color: #7d8285
}

.testimonials-clean h2 {
  font-weight: 700;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit
}

@media (max-width:767px) {
  .testimonials-clean h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px
  }
}

.testimonials-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto
}

.testimonials-clean .intro p {
  margin-bottom: 0
}

.testimonials-clean .people {
  padding: 50px 0 20px
}

.testimonials-clean .item {
  margin-bottom: 32px
}

@media (min-width:768px) {
  .testimonials-clean .item {
      height: 220px
  }
}

.testimonials-clean .item .box {
  padding: 30px;
  background-color: #fff;
  position: relative
}

.testimonials-clean .item .box:after {
  content: '';
  position: absolute;
  left: 30px;
  bottom: -24px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-width: 12px 15px;
  border-top-color: #fff
}

.testimonials-clean .item .author {
  margin-top: 28px;
  padding-left: 25px
}

.testimonials-clean .item .name {
  font-weight: 700;
  margin-bottom: 2px;
  color: inherit
}

.testimonials-clean .item .title {
  font-size: 13px;
  color: #9da9ae
}

.testimonials-clean .item .description {
  font-size: 15px;
  margin-bottom: 0
}

.testimonials-clean .item img {
  max-width: 40px;
  float: left;
  margin-right: 12px;
  margin-top: -5px
}



#work_grid img{
  width: 100%;
  min-height: 500px;
 
}




.text-box{
    padding-top: 15%;
    padding-right: 20%;
    padding-left: 20%;
}

#work_grid .col-md-6{
  padding-left: 0;
  padding-right: 0;
}




#item_section .col-lg-12{
  width: 100%;
  padding:0;
}

#item_section .col-lg-12 img{
  width: 100%;
  max-height: 900px;
  min-height: 550px;
}

#item_section .col-md-6 img{
  width: 100%;
  max-height: 900px;
  min-height: 550px;
}





#item_section .col-md-6 {
  padding: 0;
}

.overlay{
  background: rgba(0, 0, 0, .75);
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.overlay:hover .image {
  opacity: 0.5;
}

.overlay:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 35px;
}

#work_grid img{
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 765px) {
  .even {
    flex-direction: column-reverse;
  }
}